.right__content__title {
    font-size: 26px;
    text-align: center;
}

@media screen and (max-width: 899px) {
    .left__content {
        display: none;
    }
    .right__content {
        margin: 0 25px!important;
    }
}
